/*
 * Pages
 */
&
  @mixin page-base()
    position: absolute
    width: $app-width
    height: $app-height
    font-size: 12px
    color: $app-color
    background-color: $app-background-color

  .game-page
    $margin-side: 8px
    $content-width: $app-width - $margin-side * 2
    @include page-base()

    &__header
      height: 48px

    &__field
      height: 200px

    &__messages
      height: 48px

    &__controller
      display: flex
      justify-content: space-between
      height: 64px
      padding: 8px 12px

      @mixin button-base()
        height: 48px
        background-color: $app-background-color
        border: 2px solid $app-color
        border-radius: 4px
        cursor: pointer

      .status-button
        @include button-base()
        width: 20%

      .next-button
        @include button-base()
        width: 50%

      .system-button
        @include button-base()
        width: 20%

    &__parts-and-skills
      width: $app-width + $app-width-scroll-bar
      height: $app-height - 48 - 200 - 48 - 64
      overflow: scroll
      overflow-x: hidden

      > ul > li
        display: block
        width: $app-width
        cursor: pointer

        &.category-partition
          height: 16px
          padding-left: 2px
          font-size: 14px
          line-height: 16px
          font-family: 'Morris Roman'
          letter-spacing: 3px
          color: $app-background-color
          background-color: $app-color

        &.bar
          height: 50px
          border-bottom: 2px solid $app-color
