@import 'sanitize.sass'


@import './variables.sass'
@import './fonts.sass'


.js-pc-container
  @import './reset.sass'
  @import './root.sass'
  @import './bars/index.sass'
  @import './pages/index.sass'


/*
 * Development Mode
 */
html.is-development
  height: 100%
  body
    height: 100%
    background-color: #999999
